html{
    margin: 0;
}
body{  
    background: url("../images/bgfoto.jpg") no-repeat center center fixed;
    background-size:cover;
    background-position:top;
}
header{
    margin: -5px -0px -5px 0px;
}
header img{
    width: 15%;
    margin: auto;
    display: block;
    
}
nav{
    width: 17%;
    text-align: center;
	margin:auto;
}
nav ul{
    list-style: none; 
    margin: 0 auto;
    padding: 9px 0px;
    background-color:#b60abf40;
    border-radius: 5px 5px 5px 5px;
	
} 
nav li{
    display: inline;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f59af0;
    padding: 2px 15px;
    font-family: sans-serif;
}
nav a:hover{
    animation: colorchange 0.5s;
    animation-fill-mode: forwards;
}
main{
    margin-top: 10px;
}
.maininter{
    width: 900px;
    margin: auto;
}
.imghide{
    height: 440px;
    width: 280px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
}
.imghide img {
}
#myImg1 {
	display:none;
}
.intro{
    width: 600px;
    height: 420px;
    overflow-y: scroll;
    float: left;
    background-color:#f59af020;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    color: #FFFFFF;
    font-family: sans-serif;
    
}
.intro h1{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 30px;
}
.intro p{
    text-decoration: none;
}
main img{
    height:  470px;
    float: right;
    border-radius: 0 5px 5px 0;
}
.contactbtn{
    width: 900px;
    text-align: center;
    margin: auto;
}
.showc {
margin:auto;
margin-top: 20px;
margin-bottom: 20px;
    padding: 15px 20px;
text-transform: uppercase;
    color: #ffffff;
    background-color:#f59af0;
    border-radius: 5px 5px 5px 5px;
}
.showx {
margin:auto;
margin-top: 20px;
margin-bottom: 20px;
    padding: 15px 20px;
text-transform: uppercase;
    color: #ffffff;
    background-color:#f59af0;
    border-radius: 5px 5px 5px 5px;
	display:none;
}
.contactform{
    width: 900px;
    background-color:#b60abf40;
    text-align: center;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
    color: #f59af0;
    font-family: sans-serif;
    border-radius: 5px 5px 5px 5px;
display:none;
}
form input {
width: 400px;
    padding: 15px 10px;
    text-align: center;
    background-color:#b60abf40;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}
form select {
width: 400px;
    padding: 15px 10px;
    text-align: center;
    background-color:#b60abf40;
    text-transform: uppercase;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 5px 5px 5px 5px;
}
form textarea {
width: 400px;
    padding: 15px 10px;
    text-align: center;
    background-color:#b60abf40;
    text-transform: uppercase;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 5px 5px 5px 5px;
}
form button{
    padding: 15px 20px;
text-transform: uppercase;
    color: #ffffff;
    background-color:#f59af0;
    border-radius: 5px 5px 5px 5px;
}




footer{
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}
footer img {
    height: 50px;
    opacity: 80%;
    padding-top: 5px;
}
footer ul{
    list-style:none;
    margin: 0 auto;
    padding: 20px 100px;
    background-color:#b60abf40;
    border-radius: 5px 5px 5px 5px;
} 
footer li{
    display: inline;
padding: 10px;
}
footer a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f59af0;
    font-family: sans-serif;
}







@keyframes colorchange{
    from{
        background-color: #b60abf;
        color: #f59af0;
    }
    to{
        background-color: #f59af0;
        color: #b60abf;
    }
    
}